<div class="card-body">
  <div class="card mx-auto">
    <div class="row mx-2">
      <div class="col-6 col-sm-4" style="max-width: 276px">
        <h4 class="setting-title">
          <a
            class="d-flex align-items-center btn-back px-2 py-2"
            href="<%= redirectPath.HOME_ADMIN %>"
            ><i class="fas fa-arrow-left"></i></a
          >Settings
        </h4>
        <div
          class="nav flex-column nav-tabs"
          id="vert-tabs-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <a
            class="nav-link <%= checkIncludes(url, 'profile')? 'active' : '' %>"
            id="vert-tabs-home-tab"
            href="<% if(user.type_id === 1) { %>
            <%= checkIncludes(url, 'profile')? 'javascript:void(0)' : redirectPath.SETTINGS_PROFILE_ADMIN %> 
          <% } else if (user.type_id === 2){ %>
            <%= checkIncludes(url, 'profile')? 'javascript:void(0)' : redirectPath.SETTINGS_PROFILE_TEACHER %>
          <% } else if (user.type_id === 3) { %> 
            <%= checkIncludes(url, 'profile')? 'javascript:void(0)' : redirectPath.SETTINGS_PROFILE_STUDENT %>
            <% } %>
            "
            role="tab"
            aria-controls="vert-tabs-home"
            aria-selected="true"
            ><i class="fas fa-user mr-2"></i>Account settings</a
          >
          <a
            class="nav-link <%= checkIncludes(url, 'security')? 'active' : '' %>"
            id="vert-tabs-profile-tab"
            href="<% if(user.type_id === 1) { %>
            <%= checkIncludes(url, 'security')? 'javascript:void(0)' : redirectPath.SETTINGS_SECURITY_ADMIN %> 
          <% } else if (user.type_id === 2){ %>
            <%= checkIncludes(url, 'security')? 'javascript:void(0)' : redirectPath.SETTINGS_SECURITY_TEACHER %>
          <% } else if (user.type_id === 3) { %> 
            <%= checkIncludes(url, 'security')? 'javascript:void(0)' : redirectPath.SETTINGS_SECURITY_STUDENT %>
            <% } %>"
            role="tab"
            aria-controls="vert-tabs-profile"
            aria-selected="false"
            ><i class="fas fa-shield-alt mr-2"></i>Security and login</a
          >
          <a
            class="nav-link <%= checkIncludes(url, 'password')? 'active' : '' %>"
            id="vert-tabs-profile-tab"
            href="<% if(user.type_id === 1) { %>
            <%= checkIncludes(url, 'password')? 'javascript:void(0)' : redirectPath.SETTINGS_PASSWORD_ADMIN %> 
          <% } else if (user.type_id === 2){ %>
            <%= checkIncludes(url, 'password')? 'javascript:void(0)' : redirectPath.SETTINGS_PASSWORD_TEACHER %>
          <% } else if (user.type_id === 3) { %> 
            <%= checkIncludes(url, 'password')? 'javascript:void(0)' : redirectPath.SETTINGS_PASSWORD_STUDENT %>
            <% } %>"
            role="tab"
            aria-controls="vert-tabs-profile"
            aria-selected="false"
            ><i class="fas fa-lock mr-2"></i>Password</a
          >
        </div>
      </div>
      <div class="col-7 col-sm-8">
        <% if(error?.length) { %>
        <div class="alert alert-danger"><%= error %></div>
        <% }%> <% if(success?.length) { %>
        <div class="alert alert-success"><%= success %></div>
        <% }%>
        <div class="tab-content" id="vert-tabs-tabContent">
          <%- include("./profile.ejs") %> <%- include("./security.ejs") %> <%-
          include("./password.ejs") %>
        </div>
      </div>
    </div>
  </div>
  <!-- /.card -->

  <style>
    .setting-title {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 32px;
      color: #232946;
      font-weight: 600;
    }

    .nav-tabs.flex-column {
      border-right: 0;
    }

    .nav-tabs.flex-column .nav-link.active {
      background-color: #f6f6ff;
      border-left: 1px solid #6246ea;
      color: #6246ea;
    }

    .btn-update_password {
      background-color: #6246ea;
      font-size: 14px;
      font-weight: 600;
      color: #fffffe;
    }

    .btn-update_password:hover,
    .btn-social.btn.active:hover {
      color: #fffffe;
      background-color: #503bb5;
    }

    .nav-tabs.flex-column .nav-link {
      color: #232946;
      border-radius: 0;
      border: none;
    }

    .card {
      padding: 1.5rem 0;
      max-width: 1080px;
      border-radius: 0;
    }

    .btn-back {
      font-size: 20px;
      color: #232946;
    }

    .nav-tabs.flex-column .nav-link:hover,
    .btn-back:hover {
      transition: 0.3s;
      color: #6246ea;
    }

    .card .row .tab-pane_title {
      font-size: 16px;
      font-weight: 600;
    }

    .tab-content h5 {
      padding-bottom: 8px;
      margin-top: 20px;
      font-size: 22px;
      font-weight: 600;
      border-bottom: 1px solid #ccc;
    }

    .tab-pane_group {
      width: 80%;
    }

    .tab-pane_group + .tab-pane_group {
      margin-top: 24px;
    }

    .tab-pane_status {
      font-size: 16px;
    }

    .toggle-container {
      position: relative;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .toggle-container .toggle {
      position: absolute;
      top: 0;
      left: 0;
      width: 90px;
      height: 50px;
      background-color: #444;
      border-radius: 30px;
    }

    .toggle-container .toggle .toggle-button {
      position: absolute;
      top: 5px;
      left: 5px;
      width: 40px;
      height: 40px;
      background: #fff;
      border-radius: 50%;
      cursor: pointer;
    }

    .toggle-container .text {
      position: absolute;
      left: 95px;
    }

    .tab-pane_password,
    .tab-pane_info {
      border: 0;
      width: 100%;
      border-bottom: 1px solid #eaeaea;
    }

    .btn-social {
      background-color: transparent;
      font-size: 16px;
      font-weight: 600;
      border-radius: 30px;
      border: 1px solid #ccc;
      width: 100px;
      position: relative;
    }

    .btn-social:hover {
      color: #6246ea;
    }

    .btn-social.btn.active {
      background-color: #6246ea;
      color: #fffffe;
    }

    .alert.alert-danger {
      background-color: #f8d7da;
      color: #58151c;
      font-size: 16px;
      border-color: #f1aeb5;
    }

    .alert.alert-success {
      font-size: 16px;
      background-color: #d1e7dd;
      border-color: #a3cfbb;
      color: #0a3622;
    }

    .fab {
      font-size: 24px;
    }

    .fa-google {
      background: conic-gradient(
          from -45deg,
          #ea4335 110deg,
          #4285f4 90deg 180deg,
          #34a853 180deg 270deg,
          #fbbc05 270deg
        )
        73% 55%/150% 150% no-repeat;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }

    input:focus-visible {
      outline: none;
    }

    #vert-tabs-tab {
      width: 90%;
    }

    @media (max-width: 769px) {
      .row {
        flex-direction: column;
      }

      .alert.alert-danger {
        margin-top: 20px;
      }

      .col-6.col-sm-4,
      .col-7.col-sm-8 {
        max-width: unset !important;
        width: 100%;
      }

      .tab-pane_group {
        width: 90%;
      }

      .tab-pane_password {
        width: 100%;
      }

      #vert-tabs-tab {
        width: 100%;
      }
    }

    @media (max-width: 426px) {
      .row {
        flex-direction: column;
      }

      .tab-pane_group {
        width: 100%;
      }

      .tab-pane_group .col-9 {
        max-width: 100%;
      }

      .col-6.col-sm-4,
      .col-7.col-sm-8 {
        max-width: unset !important;
        width: 100%;
      }

      .card-body {
        padding: 0rem;
      }

      .content-wrapper > .content,
      .container-fluid {
        padding: 0;
      }

      .tab-pane_group {
        width: 100%;
      }
    }
  </style>

  <script>
    const socialLogin = (provider) => {
      var socialWindow = window.open(
        `/auth/${provider}/redirect`,
        `${provider}`,
        "height=600,width=800"
      );

      const timerSocial = setInterval(() => {
        if (socialWindow.closed) {
          window.location.reload();
          clearInterval(timerSocial);
        }
      });
    };
  </script>
</div>
