<% if(error?.length) { %>
<input type="hidden" disabled class="toastMessageError" value="<%= error %>" />
<% } %> <% if(success?.length) { %>
<input
  type="hidden"
  disabled
  class="toastMessageSuccess"
  value="<%= success %>"
/>
<% } %>

<form action="" method="post">
  <div class="pl-0 modal fade modal-edit show activeModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header align-items-center">
          <h5 class="modal-title">
            <a href="<%= REDIRECT_PATH.HOME_USERS_ADMIN %>"
              ><i class="fas fa-times mr-3 icon-operation"></i
            ></a>
            <i class="fas fa-user mr-2"></i><span>User</span>
          </h5>
          <button type="submit" class="btn btn-success py-2">Create</button>
        </div>
        <div class="modal-body">
          <div class="card-body mx-auto">
            <div class="card">
              <!-- Row 1 -->
              <div class="mb-3">
                <label class="form-label"
                  >Name<span class="required-text">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Name..."
                  autocomplete="off"
                  name="name"
                  value="<%= oldValues.name %>"
                />
                <% if(errorsValidate['name']){ %>
                <span class="text-danger"> <%= errorsValidate['name'] %></span>
                <% } %>
              </div>

              <!-- Row 2 -->
              <div class="mb-3">
                <label class="form-label"
                  >Email<span class="required-text">*</span></label
                >
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email..."
                  autocomplete="off"
                  name="email"
                  value="<%= oldValues.email %>"
                />
                <% if(errorsValidate['email']){ %>
                <span class="text-danger">
                  <%= errorsValidate['email'] %>
                </span>
                <% } %>
              </div>

              <!-- Row 3 -->
              <div class="mb-3">
                <label class="form-label"
                  ><span>Phone<span class="required-text">*</span></span></label
                >
                <input
                  type="tel"
                  name="phone"
                  class="form-control"
                  placeholder="Phone..."
                  autocomplete="off"
                  value="<%= oldValues.phone %>"
                />
                <% if(errorsValidate['phone']){ %>
                <span class="text-danger">
                  <%= errorsValidate['phone'] %>
                </span>
                <% } %>
              </div>

              <!-- Row 4 -->
              <div class="mb-3">
                <label class="form-label">Address</label>
                <input
                  type="text"
                  name="address"
                  class="form-control"
                  placeholder="Address..."
                  autocomplete="off"
                  value="<%= oldValues.address %>"
                />
              </div>

              <input type="hidden" name="_method" value="POST" />
              <input
                type="hidden"
                name="csrfToken"
                value="<%= csrf.createToken() %>"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<style>
  html {
    overflow: hidden;
  }
</style>
