<% if(error?.length) { %>
<input type="hidden" disabled class="toastMessageError" value="<%= error %>" />
<% } %> <% if(success?.length) { %>
<input
  type="hidden"
  disabled
  class="toastMessageSuccess"
  value="<%= success %>"
/>
<% } %> <%- include("../parts/breadcrumb") %>

<div class="card py-3 px-3 mx-2">
  <div class="table-responsive">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td width="20%">Name:</td>
          <td><%= admin.name %></td>
        </tr>
        <tr>
          <td width="20%">Email:</td>
          <td><%= admin.email %></td>
        </tr>
        <tr>
          <td width="20%">Phone:</td>
          <td><%= admin.phone %></td>
        </tr>
        <tr>
          <td width="20%">Address:</td>
          <td><%= admin.address %></td>
        </tr>
        <tr>
          <td width="20%">Status:</td>
          <td><%= admin.firstLogin? 'Active' : "Inactive" %></td>
        </tr>
        <tr>
          <td width="20%">Type:</td>
          <td><%= admin.Type.name %></td>
        </tr>
        <tr>
          <td width="20%">Created At:</td>
          <td><%= moment(user.createdAt).format("DD/MM/YYYY") %></td>
        </tr>
        <tr>
          <td width="20%">Updated At:</td>
          <td><%= moment(user.updatedAt).format("DD/MM/YYYY") %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
