<% if(error?.length) { %>
<input type="hidden" disabled class="toastMessageError" value="<%= error %>" />
<% } %> <% if(success?.length) { %>
<input
  type="hidden"
  disabled
  class="toastMessageSuccess"
  value="<%= success %>"
/>
<% } %>

<div class="card py-1 mx-2">
  <div class="row align-items-center">
    <div class="col-6">
      <h3 class="mb-0 ml-3"><%= title.split("-")[0] %></h3>
    </div>
    <div class="col-6">
      <ol class="breadcrumb float-sm-right mb-0">
        <li class="breadcrumb-item">
          <a href="<%= REDIRECT_PATH.ADMIN.HOME_ADMIN %>">Home</a>
        </li>
        <li class="breadcrumb-item active">Settings</li>
      </ol>
    </div>
  </div>
</div>

<div class="card-body">
  <div class="card mx-auto">
    <div class="row mx-2">
      <div class="col-6 col-sm-4 px-2" style="max-width: 276px">
        <div class="nav flex-column nav-tabs">
          <a class="nav-link" href="<%= REDIRECT_PATH.ADMIN.PROFILE_SETTING %> "
            ><i class="fas fa-user mr-2"></i>Account settings</a
          >
          <a
            class="nav-link"
            href="<%= REDIRECT_PATH.ADMIN.SECURITY_SETTING %> "
            ><i class="fas fa-shield-alt mr-2"></i>Security and login</a
          >
          <a
            class="nav-link active"
            href="<%= REDIRECT_PATH.ADMIN.PASSWORD_SETTING %> "
            ><i class="fas fa-lock mr-2"></i>Password</a
          >
        </div>
      </div>
      <div class="col-7 col-sm-8 px-2">
        <div class="tab-content" id="vert-tabs-tabContent">
          <div class="tab-pane fade text-left show active">
            <div class="group-field">
              <h5>Password</h5>
              <form action="" method="post">
                <div class="tab-pane_group">
                  <span class="tab-pane_title">Old password</span>
                  <div class="d-grid">
                    <div class="col-9 px-0">
                      <input
                        class="tab-pane_password"
                        name="oldPassword"
                        type="password"
                      />
                    </div>
                    <% if(errorsValidate['oldPassword']){ %>
                    <span class="text-danger">
                      <%= errorsValidate['oldPassword'] %>
                    </span>
                    <% } %>
                  </div>
                </div>
                <div class="tab-pane_group">
                  <span class="tab-pane_title">New password</span>
                  <div class="d-grid">
                    <div class="col-9 px-0">
                      <input
                        class="tab-pane_password"
                        name="newPassword"
                        type="password"
                      />
                    </div>
                    <% if(errorsValidate['newPassword']){ %>
                    <span class="text-danger">
                      <%= errorsValidate['newPassword'] %>
                    </span>
                    <% } %>
                  </div>
                </div>
                <div class="tab-pane_group">
                  <span class="tab-pane_title">Confirm new password</span>
                  <div class="d-grid">
                    <div class="col-9 px-0">
                      <input
                        class="tab-pane_password"
                        name="confirmPassword"
                        type="password"
                      />
                    </div>
                    <% if(errorsValidate['confirmPassword']){ %>
                    <span class="text-danger">
                      <%= errorsValidate['confirmPassword'] %>
                    </span>
                    <% } %>
                  </div>
                </div>
                <input
                  type="hidden"
                  name="csrfToken"
                  value="<%= csrf.createToken() %>"
                />
                <input type="hidden" name="_method" value="PATCH" />
                <button type="submit" class="btn btn-update_password py-2 mt-3">
                  Update password
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
