<div
  class="tab-pane fade <%= currPage === 'profile'? 'text-left show active' : '' %>"
>
  <div class="group-field">
    <h5>User Profile</h5>
    <form action="" method="post">
      <div class="tab-pane_group">
        <span class="tab-pane_title">Name</span>
        <div class="d-grid">
          <div class="col-9 px-0">
            <input
              class="tab-pane_password"
              name="name"
              type="text"
              autocomplete="off"
              value="<%= user.name %>"
            />
          </div>
        </div>
      </div>
      <div class="tab-pane_group">
        <span class="tab-pane_title">Email</span>
        <div class="d-grid">
          <div class="col-9 px-0">
            <input
              class="tab-pane_password"
              name="email"
              type="email"
              autocomplete="off"
              value="<%= user.email %>"
            />
          </div>
        </div>
      </div>
      <div class="tab-pane_group">
        <span class="tab-pane_title">Phone</span>
        <div class="d-grid">
          <div class="col-9 px-0">
            <input
              class="tab-pane_password"
              name="phone"
              type="tel"
              autocomplete="off"
              value="<%= user.phone %>"
            />
          </div>
        </div>
      </div>
      <div class="tab-pane_group">
        <span class="tab-pane_title">Address</span>
        <div class="d-grid">
          <div class="col-9 px-0">
            <input
              class="tab-pane_password"
              name="address"
              type="text"
              autocomplete="off"
              value="<%= user.address %>"
            />
          </div>
        </div>
      </div>
      <input type="hidden" name="csrfToken" value="<%= csrf.createToken() %>" />
      <input type="hidden" name="_method" value="PATCH" />
      <button
        type="submit"
        class="btn btn-social active mt-3"
        style="width: 120px"
      >
        Save
      </button>
    </form>
  </div>
</div>
