<div
  class="tab-pane fade <%= currPage === 'security'? 'text-left show active' : '' %>"
>
  <div class="group-field">
    <h5>Link Social Account To Login</h5>
    <!-- Google -->
    <div class="tab-pane_group">
      <span class="tab-pane_title">Link with Google</span>
      <div class="d-flex align-items-center justify-content-between py-1 mb-1">
        <div class="col-6">
          <span class="tab-pane_status d-flex align-items-center"
            ><i class="fab fa-google mr-2"></i>
            <%= (userGoogle)? 'Connected' : "Unconnected" %>
          </span>
        </div>
        <div class="col-5">
          <% if(userGoogle) {%>
          <form action="" method="post" class="form-unlink-social">
            <input
              type="hidden"
              name="userSocialId"
              value="<%= userGoogle?.id%>"
            />
            <input
              type="hidden"
              name="provider"
              value="<%= userGoogle?.provider%>"
            />
            <input
              type="hidden"
              name="csrfToken"
              value="<%= csrf.createToken() %>"
            />
            <input type="hidden" name="_method" value="DELETE" />
            <label
              class="switch active mb-0"
              onclick="this.parentNode.classList.add('active')"
              data-toggle="modal"
              data-target="#modal-default"
            >
              <span class="slider round"></span>
            </label>
          </form>
          <% } else {%>
          <label class="switch mb-0" onclick="socialLogin('google')">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
          <% } %>
        </div>
      </div>
    </div>
    <!-- Github -->
    <div class="tab-pane_group">
      <span class="tab-pane_title">Link with Github</span>
      <div class="d-flex align-items-center justify-content-between py-1 mb-1">
        <div class="col-6">
          <span class="tab-pane_status d-flex align-items-center"
            ><i class="fab fa-github mr-2" style="color: #1f2328"></i>
            <%= (userGithub)? 'Connected' : "Unconnected" %>
          </span>
        </div>
        <div class="col-5">
          <% if(userGithub) {%>
          <form action="" method="post" class="form-unlink-social">
            <input
              type="hidden"
              name="userSocialId"
              value="<%= userGithub?.id%>"
            />
            <input
              type="hidden"
              name="provider"
              value="<%= userGithub?.provider%>"
            />
            <input
              type="hidden"
              name="csrfToken"
              value="<%= csrf.createToken() %>"
            />
            <input type="hidden" name="_method" value="DELETE" />
            <label
              class="switch active mb-0"
              data-toggle="modal"
              data-target="#modal-default"
              onclick="this.parentNode.classList.add('active')"
            >
              <span class="slider round"></span>
            </label>
          </form>
          <% } else {%>
          <label class="switch mb-0" onclick="socialLogin('github')">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
          <% } %>
        </div>
      </div>
    </div>
    <!-- Facebook -->
    <div class="tab-pane_group">
      <span class="tab-pane_title">Link with Facebook</span>
      <div class="d-flex align-items-center justify-content-between py-1 mb-1">
        <div class="col-6">
          <span class="tab-pane_status d-flex align-items-center"
            ><i class="fab fa-facebook mr-2" style="color: #0866ff"></i>
            <%= (userFacebook)? 'Connected' : "Unconnected" %>
          </span>
        </div>
        <div class="col-5">
          <% if(userFacebook) {%>
          <form action="" method="post" class="form-unlink-social">
            <input
              type="hidden"
              name="userSocialId"
              value="<%= userFacebook?.id%>"
            />
            <input
              type="hidden"
              name="provider"
              value="<%= userFacebook?.provider%>"
            />
            <input
              type="hidden"
              name="csrfToken"
              value="<%= csrf.createToken() %>"
            />
            <input type="hidden" name="_method" value="DELETE" />
            <label
              class="switch active mb-0"
              data-toggle="modal"
              data-target="#modal-default"
              onclick="this.parentNode.classList.add('active')"
            >
              <span class="slider round"></span>
            </label>
          </form>
          <% } else {%>
          <label class="switch mb-0" onclick="socialLogin('facebook')">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div
        class="line"
        style="
          width: 100%;
          height: 5px;
          background-color: #6246ea;
          border-top-right-radius: 0.3rem;
          border-top-left-radius: 0.3rem;
        "
      ></div>
      <div class="modal-header">
        <h5 class="modal-title" style="border: none; font-size: 20px">
          Are you sure to remove link social account ?
        </h5>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          No
        </button>
        <button
          type="button"
          class="btn btn-primary"
          onclick="submitRemove('.form-unlink-social.active')"
        >
          Yes
        </button>
      </div>
    </div>
  </div>
</div>

<style>
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .switch.active .slider {
    background-color: #6246ea;
    box-shadow: 0 0 1px #6246ea;
  }

  .switch.active .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
</style>

<script>
  const submitRemove = (formId) => {
    const form = document.querySelector(formId);
    form.submit();
  };
</script>
