<% if(error?.length) { %>
    <input type="hidden" disabled class="toastMessageError" value="<%= error %>">
    <% } %>
    <% if(success?.length) { %>
    <input type="hidden" disabled class="toastMessageSuccess" value="<%= success %>">
    <% } %>

<%- include("../parts/breadcrumb") %>

<div class="card-body mx-auto">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-3 mb-3">
    <a href="<%= REDIRECT_PATH.ADMIN.CREATE_COURSE %>" class="btn btn-success w-100 py-2">Create course</a>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 mb-3">
    <button type="button" data-toggle="modal" data-target="#btnDeleteAllChildrenSelected" class="btn btn-danger w-100 py-2" disabled>Delete selected</button>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 mb-3">
    <a href="<%= REDIRECT_PATH.ADMIN.IMPORT_COURSES %>" class="btn btn-primary w-100 py-2">Import courses</a>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 mb-3">
    <a href="<%= REDIRECT_PATH.ADMIN.EXPORT_COURSES %>" class="btn btn-primary w-100 py-2">Export courses</a>
    </div>
  </div>
  <div class="tab-content">
    <div class="card px-3 py-3">
        <div class="row align-items-center">
          <div class="col-xs-12 col-sm-6 mb-3 d-flex align-items-center px-2">
            <span class="mx-2">Show</span>
            <select class="form-control" style="width: 60px;
                padding: 4px;
                font-size: 16px;" onchange="window.location.href = this.value">
              <option <%=+limit===10? 'selected' : '' %> value="?<%= stringUtil.getPaginateUrl(req, page, 10) %>">
                10
              </option>
              <option <%=+limit===25? 'selected' : '' %> value="?<%= stringUtil.getPaginateUrl(req, page, 25) %>">
                25
              </option>
              <option <%=+limit===50? 'selected' : '' %> value="?<%= stringUtil.getPaginateUrl(req, page, 50) %>">
                50
              </option>
              <option <%=+limit===100? 'selected' : '' %> value="?<%= stringUtil.getPaginateUrl(req, page, 100) %>">
                100
              </option>
            </select>
            <span class="mx-2">entries</span>
          </div>
          <div class="col-xs-12 col-sm-6 mb-3 px-2 d-flex justify-content-end">
            <form method="get" class="mx-1">
                    <div class="input-group" style="max-width: 300px;">
                      <input type="text" class="form-control" style="border-right: none;" name="keyword"
                        value="<%= req.query.keyword %>" placeholder="Keyword...">
                      <div class="input-group-append">
                        <button type="submit" class="input-group-text"><i class="fas fa-search"></i></button>
                      </div>
                    </div>
                  </form>
            <button type="button" class="btn mx-2 btn-default">
              <i class="fas fa-filter fa-xs"></i>
            </button>
            <div class="btn-group btn-hidden-column-group">
              <button type="button" class="btn btn-default"><i class="fas fa-plus"></i>
              </button>
              <div class="dropdown-hidden-column">
                <div class="row">
                  <div class="col d-flex align-items-center">
                    <input type="checkbox" checked name="nameCol">
                    <label class="mb-0 ml-2" for="">Name</label>
                  </div>
                  <div class="col d-flex align-items-center">
                    <input type="checkbox" checked name="priceCol">
                    <label class="mb-0 ml-2" for="">Price</label>
                  </div>
                  <div class="w-100 mb-3"></div>
                  <div class="col d-flex align-items-center">
                    <input type="checkbox" checked name="teacherCol">
                    <label class="mb-0 ml-2" for="">Teacher</label>
                  </div>
                  <div class="col d-flex align-items-center">
                    <input type="checkbox" checked name="tryLearnCol">
                    <label class="mb-0 ml-2" for="">Try Learn</label>
                  </div>
                  <div class="w-100 mb-3"></div>
                  <div class="col d-flex align-items-center">
                    <input type="checkbox" checked name="quantityCol">
                    <label class="mb-0 ml-2" for="">Quantity</label>
                  </div>
                  <div class="col d-flex align-items-center">
                    <input type="checkbox" checked name="durationCol">
                    <label class="mb-0 ml-2" for="">Duration</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="table-responsive mb-3">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th width="1%" class="px-1">
                  <label class="checkbox-btn">
                    <input type="checkbox" class="checkboxParent" />
                  </label>
                </th>
                <th>Name</th>
                <th>Price</th>
                <th>Teacher</th>
                <th>Try Learn</th>
                <th>Quantity</th>
                <th>Duration</th>
                <th width="1%">Operation</th>
              </tr>
            </thead>
            <tbody>
              <% if(courses?.length) {%> <% for(var i=0 ; i< courses.length; i++) {if(i===+limit) break;%>
              <tr class="object-row">
                <td width="1%" class="px-1">
                  <label class="checkbox-btn">
                    <input type="checkbox" class="checkboxChildren" value="<%= courses[i].id %>" />
                  </label>
                </td>
                <td>
                <a href="<%= REDIRECT_PATH.ADMIN.DETAILS_COURSE %>/<%= courses[i].id %>"><%= courses[i].name %></a></td>
                <td>
                  <%= +courses[i].price <= 0 ? 'Free' : stringUtil.formatCurrency(courses[i].price) %>
                </td>
                <td><a href="<%= REDIRECT_PATH.ADMIN.DETAILS_TEACHER %>/<%= courses[i].User.id %>"><%= courses[i].User.name %></a></td>
                <td><%= courses[i].tryLearn + " trials"%></td>
                <td><%= courses[i].quantity + " users / class"%></td>
                <td><%= courses[i].duration + " lessons"%></td>
                <td width="1%">
                  <div class="d-flex align-items-center justify-content-center">
                    <a class="mx-1 icon-operation" href="<%= REDIRECT_PATH.ADMIN.EDIT_COURSE + `/${courses[i].id}` %>"><i class="fas fa-pen fa-xs"></i></a>
                    <button class="mx-1 icon-operation" type="button" data-toggle="modal" data-target="#modal-deleteChildren-<%= courses[i].id %>">
                      <i class="fas fa-trash fa-xs"></i>
                    </button>
                  </div>
                </td>
              </tr>
              <%- include("../../admin/courses/delete.modal.ejs", {i}) %>
              <% }} %>
            </tbody>
          </table>
        </div>
        
        <%- include("../parts/paginate", {arrObj: courses}) %>
      </div>
  </div>
</div>

<div class="modal fade" id="btnDeleteAllChildrenSelected" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="line" style="
          width: 100%;
          height: 5px;
          background-color: #6246ea;
          border-top-right-radius: 0.3rem;
          border-top-left-radius: 0.3rem;
        "></div>
      <div class="modal-header">
        <h5 class="modal-title" style="border: none; font-size: 22px">
          Are you sure to delete all courses selected ?
        </h5>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          No
        </button>
        <form action="" method="post">
          <input type="hidden" name="_method" value="DELETE" />
          <input type="hidden" name="csrfToken" value="<%= csrf.createToken() %>" />
          <button id="btnConfirmDeleteAllChildren" class="btn btn-danger">
            Yes
          </button>
        </form>
      </div>
    </div>
  </div>
</div>