<% if(error?.length) { %>
<input type="hidden" disabled class="toastMessageError" value="<%= error %>" />
<% } %> <% if(success?.length) { %>
<input
  type="hidden"
  disabled
  class="toastMessageSuccess"
  value="<%= success %>"
/>
<% } %> <%- include("../parts/breadcrumb") %>

<div class="card px-3 py-3 mx-2">
  <div class="row mb-3">
    <div class="col-6">
      <a
        href="<%= req.originalUrl %><%= REDIRECT_PATH.ADMIN.MANAGE_STUDENTS_CLASS %>"
        class="btn btn-primary py-2 w-100"
        >Manage Students</a
      >
    </div>
    <div class="col-6">
      <a
        href="<%= req.originalUrl %><%= REDIRECT_PATH.ADMIN.MANAGE_CALENDARS_CLASS %>"
        class="btn btn-primary py-2 w-100"
        >Manage Calendars</a
      >
    </div>
  </div>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <td width="15%">Name:</td>
        <td><%= classObj.name %></td>
      </tr>
      <tr>
        <td width="15%">Quantity:</td>
        <td><%= classObj.quantity %></td>
      </tr>
      <tr>
        <td width="15%">Start date:</td>
        <td><%= moment(classObj.startDate).format("DD/MM/YYYY") %></td>
      </tr>
      <tr>
        <td width="15%">End date:</td>
        <td><%= moment(classObj.endDate).format("DD/MM/YYYY") %></td>
      </tr>
      <tr>
        <td width="15%">Schedules:</td>
        <td>
          <ul class="mb-0">
            <% if(classObj.Class_Schedules && classObj.Class_Schedules.length) {
            classObj.Class_Schedules.forEach((scheduleObj) => { %>
            <li>
              <%= moment.weekdays(+scheduleObj.schedule) %>: <%=
              scheduleObj.timeLearn %>
            </li>
            <%}) }%>
          </ul>
        </td>
      </tr>
      <tr>
        <td width="15%">Course:</td>
        <td>
          <a
            href="<%= REDIRECT_PATH.ADMIN.DETAILS_COURSE %>/<%= classObj.Course.id %>"
            ><%= classObj.Course.name %></a
          >
        </td>
      </tr>
      <tr>
        <td width="15%">Teacher:</td>
        <td>
          <a
            href="<%= REDIRECT_PATH.ADMIN.DETAILS_TEACHER %>/<%= classObj.Course.User.id %>"
            ><%= classObj.Course.User.name %></a
          >
        </td>
      </tr>
      <tr>
        <td width="15%">Assistants:</td>
        <td>
          <ul class="mb-0">
            <% if(classObj.Users && classObj.Users.length) {
            classObj.Users.forEach((user) => { %> <% if(user.id !=
            classObj.Course.User.id) {%>
            <li>
              <a
                href="<%= REDIRECT_PATH.ADMIN.DETAILS_TEACHER %>/<%= user.id %>"
                ><%= user.name %></a
              >
            </li>
            <%}%> <%}) }%>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
