<% if(error?.length) { %>
<input type="hidden" disabled class="toastMessageError" value="<%= error %>" />
<% } %> <% if(success?.length) { %>
<input
  type="hidden"
  disabled
  class="toastMessageSuccess"
  value="<%= success %>"
/>
<% } %>

<form action="" method="post">
  <div class="pl-0 modal fade modal-edit show activeModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header align-items-center">
          <h5 class="modal-title">
            <a
              href="<%= REDIRECT_PATH.ADMIN.DETAILS_CLASS %>/<%= req.params.id %><%=  REDIRECT_PATH.ADMIN.MANAGE_EXERCISES_CLASS %>"
              ><i class="fas fa-times mr-3 icon-operation"></i
            ></a>
            <i class="fas fa-clipboard-list mr-2"></i><span>Exercise</span>
          </h5>
          <button type="submit" class="btn btn-success py-2">Save</button>
        </div>
        <div class="modal-body">
          <div class="card-body mx-auto">
            <div class="card">
              <!-- Row 1 -->
              <div class="mb-3">
                <label class="form-label"
                  >Title<span class="required-text">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Title..."
                  autocomplete="off"
                  name="title"
                  value="<%= oldValues.title %>"
                />
                <% if(errorsValidate['title']){ %>
                <span class="text-danger">
                  <%= errorsValidate['title'] %>
                </span>
                <% } %>
              </div>

              <div class="mb-3">
                <label class="form-label">Content</label>
                <textarea
                  name="content"
                  cols="30"
                  rows="8"
                  class="form-control"
                  style="resize: none"
                >
<%= oldValues.content %></textarea
                >
                <% if(errorsValidate['content']){ %>
                <span class="text-danger">
                  <%= errorsValidate['content'] %>
                </span>
                <% } %>
              </div>

              <div class="mb-3">
                <label class="form-label">Attachment</label>
                <input
                  type="text"
                  name="attachment"
                  class="form-control"
                  value="<%= oldValues.attachment %>"
                />
              </div>

              <input type="hidden" name="id" value="<%= oldValues.id %>" />
              <input type="hidden" name="_method" value="PATCH" />
              <input
                type="hidden"
                name="csrfToken"
                value="<%= csrf.createToken() %>"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<style>
  html {
    overflow: hidden;
  }
</style>
