<div class="row align-items-center">
  <div class="col-xs-12 col-sm-6 d-flex align-items-center px-2 mb-3">
    <span
      >Showing <%= (arrObj && arrObj?.length)? +offset+1 : +offset %> to <%=
      +offset + (arrObj && arrObj?.length)? arrObj.length + +offset : 0 %> of
      <%= totalCount %> entries</span
    >
  </div>
  <div class="col-xs-12 col-sm-6 px-2 d-flex mb-3 justify-content-end">
    <% if(totalPage > 0) {%>
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center my-0">
        <!-- Start -->
        <li class="page-item <%= +page===1? 'disabled' : '' %>">
          <a
            class="page-link"
            href="?<%= stringUtil.getPaginateUrl(req, +page-1, limit) %>"
            aria-label="Previous"
          >
            <i class="fas fa-chevron-left fa-xs"></i>
          </a>
        </li>

        <% if(+page > 3) {%>
        <li class="page-item">
          <a
            class="page-link"
            href="?<%= stringUtil.getPaginateUrl(req, 1, limit) %>"
          >
            1
          </a>
        </li>
        <% } %>

        <!-- Mid -->
        <% var i = (+page > 3)? +page - 2 : 1 %> <% if(i !== 1) {%>
        <li class="page-item disabled">
          <a class="page-link" href="#">...</a>
        </li>
        <% } %> <% for(; i <= (+page +2) && i <= totalPage; i++ ) {%> <% if(i
        === +page) {%>
        <li class="page-item active">
          <a
            class="page-link"
            href="?<%= stringUtil.getPaginateUrl(req, +i, limit) %>"
            ><%= i %></a
          >
        </li>
        <% } else {%>
        <li class="page-item">
          <a
            class="page-link"
            href="?<%= stringUtil.getPaginateUrl(req, +i, limit) %>"
            ><%= i %></a
          >
        </li>
        <% }%> <% if(i === +page + 2 && i < +totalPage) {%>
        <li class="page-item disabled">
          <a class="page-link" href="#">...</a>
        </li>
        <% } %> <% } %>

        <!-- End -->
        <% if(+page <= +totalPage - 3) {%>
        <li class="page-item">
          <a
            class="page-link"
            href="?<%= stringUtil.getPaginateUrl(req, +totalPage, limit) %>"
          >
            <%= +totalPage %>
          </a>
        </li>
        <% } %>

        <li class="page-item <%= +page===+totalPage? 'disabled' : '' %>">
          <a
            class="page-link"
            href="?<%= stringUtil.getPaginateUrl(req, +page+1, limit) %>"
            aria-label="Next"
          >
            <i class="fas fa-chevron-right fa-xs"></i>
          </a>
        </li>
      </ul>
    </nav>
    <% } %>
  </div>
</div>
